.contact-main {
    display: flex;
    margin: 10rem;
    padding: 5rem;
    /*background: #33373D;*/
    justify-content: space-between;
}

.section-contact {
    background: #E5E5E5;
    padding: 5rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.form-input {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.contact-header {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
}

.input-item {
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

}

.contact-info {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 3rem;
    color: rgba(0, 0, 0, 0.6);
}

.contact-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.6);
}

.address-book {
    padding: 3rem 0;
}